[submodule "prusti-dev"]
	path = prusti-dev
	url = https://github.com/PLSysSec/prusti-dev.git
[submodule "rlbox_wasm2c_sandbox"]
	path = rlbox_wasm2c_sandbox
	url = https://github.com/PLSysSec/rlbox_wasm2c_sandbox.git
[submodule "wasm-runtime-benchmarks"]
	path = wasm-runtime-benchmarks
	url = ./wasm-runtime-benchmarks/
[submodule "wave-specbenchmark"]
	path = backup_spec
	url = git@github.com:PLSysSec/wave-specbenchmark.git
